#  ğŸš² ì¶œë ¥ ê²°ê³¼ ì •ë¦¬
LinearRegression  
RMSLE 1.165 RMSE 140.900 MAE 105.924

targetê°’ log1pë¡œ ë³€í™˜ í›„ LinearRegression  
RMSLE 1.017 RMSE 162.594 MAE 109.286

One-Hot Encoding í›„ LinearRegression  
RMSLE 0.590 RMSE 97.688 MAE 63.382

One-Hot Encoding í›„ Ridge  
RMSLE 0.590 RMSE 98.529 MAE 63.893

One-Hot Encoding í›„ Lasso  
RMSLE 0.635 RMSE 113.219 MAE 72.803

RandomForestRegression  
RMSLE 0.354 RMSE 50.550 MAE 31.287

GradientBoost  
RMSLE 0.330 RMSE 53.332 MAE 32.736

XGBoost  
RMSLE 0.339 RMSE 51.475 MAE 31.357

LightGBM  
RMSLE 0.319 RMSE 47.215 MAE 29.029

**LGBMRegressor**  
Best Parameters: {'num_leaves': 31, 'n_estimators': 500, 'max_depth': 16, 'learning_rate': 0.1}  
RMSLE: 0.315, RMSE: 46.495, **MAE: 28.726**

DecisionTreeRegressor  
Best Parameters: {'max_depth':None, 'min_samples_leaf':5, 'min_samples_split':2}  
RMSLE: 0.452, RMSE: 63.217, MAE: 38.138

ElasticNet  
RMSLE: 1.179, RMSE: 143.873, MAE: 106.506  

ElasticNet + alpha(alpha=0.09, l1_ratio=0.1)  
RMSLE: 1.167, RMSE: 141.379, MAE: 105.543

In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)

bike_df = pd.read_csv('./bike-sharing-demand/train.csv')
print(bike_df.shape)
bike_df.head(3)

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32

In [8]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [9]:
# ë¬¸ìì—´ì„ datetime íƒ€ì…ìœ¼ë¡œ ë³€ê²½
bike_df['datetime'] = bike_df.datetime.apply(pd.to_datetime)

# datetime íƒ€ì…ì—ì„œ ë…„, ì›”, ì¼, ì‹œê°„ ì¶”ì¶œ
bike_df['year'] = bike_df.datetime.apply(lambda x : x.year)
bike_df['month'] = bike_df.datetime.apply(lambda x : x.month)
bike_df['day'] = bike_df.datetime.apply(lambda x : x.day)
bike_df['hour'] = bike_df.datetime.apply(lambda x: x.hour)
bike_df.tail(3)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,2012,12,19,21
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,2012,12,19,22
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,2012,12,19,23

In [10]:
# season: 1 = ë´„, 2 = ì—¬ë¦„, 3 = ê°€ì„, 4 = ê²¨ìš¸

# weather:
# 1 = ë§‘ìŒ, êµ¬ë¦„ ì•½ê°„, ë¶€ë¶„ì ìœ¼ë¡œ êµ¬ë¦„, ë¶€ë¶„ì ìœ¼ë¡œ êµ¬ë¦„
# 2 = ì•ˆê°œ + êµ¬ë¦„, ì•ˆê°œ + ê¹¨ì§„ êµ¬ë¦„, ì•ˆê°œ + êµ¬ë¦„ ì•½ê°„, ì•ˆê°œ
# 3 = ê°€ë²¼ìš´ ëˆˆ, ê°€ë²¼ìš´ ë¹„ + ë‡Œìš° + í©ì–´ì§„ êµ¬ë¦„, ê°€ë²¼ìš´ ë¹„ + í©ì–´ì§„ êµ¬ë¦„
# 4 = í­ìš° + ì–¼ìŒíŒ + ë‡Œìš° + ì•ˆê°œ, ëˆˆ + ì•ˆê°œ

datetimeì„ ë‚˜ëˆ„ì–´ì„œ ì»¬ëŸ¼ìœ¼ë¡œ ìƒì„±í•˜ì˜€ìœ¼ë¯€ë¡œ ì œê±°  
casual, registered ëŠ” count ë¡œ í‘œí˜„í•˜ê¸° ë•Œë¬¸ì— ì œê±°

In [11]:
drop_columns = ['datetime','casual','registered']
bike_df.drop(drop_columns, axis=1,inplace=True)

In [12]:
bike_df

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,year,month,day,hour
0,1,0,0,1,9.84,14.395,81,0.0000,16,2011,1,1,0
1,1,0,0,1,9.02,13.635,80,0.0000,40,2011,1,1,1
2,1,0,0,1,9.02,13.635,80,0.0000,32,2011,1,1,2
3,1,0,0,1,9.84,14.395,75,0.0000,13,2011,1,1,3
4,1,0,0,1,9.84,14.395,75,0.0000,1,2011,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,4,0,1,1,15.58,19.695,50,26.0027,336,2012,12,19,19
10882,4,0,1,1,14.76,17.425,57,15.0013,241,2012,12,19,20
10883,4,0,1,1,13.94,15.910,61,15.0013,168,2012,12,19,21
10884,4,0,1,1,13.94,17.425,61,6.0032,129,2012,12,19,22
10885,4,0,1,1,13.12,16.665,66,8.9981,88,2012,12,19,23

In [13]:
fig, axs = plt.subplots(figsize=(16, 8), ncols=4, nrows=2)
cat_features = ['year', 'month','season','weather','day', 'hour', 'holiday','workingday'] # ë‚˜ë¨¸ì§€ ì»¬ëŸ¼ì€ ì—°ì†í˜•ì´ê¸° ë•Œë¬¸ì— barplotì—ëŠ” ì ì ˆí•œ binningì´ í•„ìš”í•˜ë¯€ë¡œ x
# cat_featuresì— ìˆëŠ” ëª¨ë“  ì¹¼ëŸ¼ë³„ë¡œ ê°œë³„ ì¹¼ëŸ¼ê°’ì— ë”°ë¥¸ countì˜ í•©ì„ barplotìœ¼ë¡œ ì‹œê°í™”
for i, feature in enumerate(cat_features):
    row = int(i/4)
    col = i%4
    sns.barplot(x=feature, y='count', data=bike_df, ax=axs[row][col])

In [14]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

# log ê°’ ë³€í™˜ ì‹œ NaNë“±ì˜ ì´ìŠˆë¡œ log() ê°€ ì•„ë‹Œ log1p() ë¥¼ ì´ìš©í•˜ì—¬ RMSLE ê³„ì‚°
def rmsle(y, pred):
    log_y = np.log1p(y)
    log_pred = np.log1p(pred)
    squared_error = (log_y - log_pred) ** 2
    rmsle = np.sqrt(np.mean(squared_error))
    return rmsle

# ì‚¬ì´í‚·ëŸ°ì˜ mean_square_error() ë¥¼ ì´ìš©í•˜ì—¬ RMSE ê³„ì‚°
def rmse(y,pred):
    return np.sqrt(mean_squared_error(y,pred))

# MSE, RMSE, RMSLE ë¥¼ ëª¨ë‘ ê³„ì‚°
def evaluate_regr(y,pred):
    rmsle_val = rmsle(y,pred)
    rmse_val = rmse(y,pred)
    # MAE ëŠ” scikit learnì˜ mean_absolute_error() ë¡œ ê³„ì‚°
    mae_val = mean_absolute_error(y,pred)
    print('RMSLE: {0:.3f}, RMSE: {1:.3F}, MAE: {2:.3F}'.format(rmsle_val, rmse_val, mae_val))

In [15]:
from sklearn.model_selection import train_test_split , GridSearchCV
from sklearn.linear_model import LinearRegression , Ridge , Lasso

y_target = bike_df['count']
X_features = bike_df.drop(['count'],axis=1,inplace=False)

X_train, X_test, y_train, y_test = train_test_split(X_features, y_target, test_size=0.3, random_state=0)

lr_reg = LinearRegression()
lr_reg.fit(X_train, y_train)
pred = lr_reg.predict(X_test)

evaluate_regr(y_test ,pred)

RMSLE: 1.165, RMSE: 140.900, MAE: 105.924

dayê°€ 19ì¼ê¹Œì§€ë§Œ ë‚˜ì˜¤ëŠ” ê²ƒì€ train, testë¡œ êµ¬ë¶„ë˜ê¸° ë•Œë¬¸ì´ë‹¤.  
ê·¸ë ‡ì§€ë§Œ day ì‹œê°í™”ë¥¼ì—ì„œ ì¼ë³„ ì°¨ì´ëŠ” í¬ë¯¸í•˜ê¸°ì— í° ì˜í–¥ì€ ì—†ë‹¤ê³  ìƒê°ëœë‹¤.

In [16]:
def get_top_error_data(y_test, pred, n_tops = 5):
    # DataFrameì— ì»¬ëŸ¼ë“¤ë¡œ ì‹¤ì œ ëŒ€ì—¬íšŸìˆ˜(count)ì™€ ì˜ˆì¸¡ ê°’ì„ ì„œë¡œ ë¹„êµ í•  ìˆ˜ ìˆë„ë¡ ìƒì„±.
    result_df = pd.DataFrame(y_test.values, columns=['real_count'])
    result_df['predicted_count']= np.round(pred)
    result_df['diff'] = np.abs(result_df['real_count'] - result_df['predicted_count'])
    # ì˜ˆì¸¡ê°’ê³¼ ì‹¤ì œê°’ì´ ê°€ì¥ í° ë°ì´í„° ìˆœìœ¼ë¡œ ì¶œë ¥.
    print(result_df.sort_values('diff', ascending=False)[:n_tops])

get_top_error_data(y_test,pred,n_tops=5)

      real_count  predicted_count   diff
1618         890            322.0  568.0
3151         798            241.0  557.0
966          884            327.0  557.0
412          745            194.0  551.0
2817         856            310.0  546.0

In [17]:
y_target.hist()

ê°’ì´ ì»¤ì§ˆìˆ˜ë¡ ê°œìˆ˜ëŠ” ì ì–´ì§€ë¯€ë¡œ ë¶ˆê· í˜•ì´ ì‹¬í•œ ë¶„í¬ì„ì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤.  
ë”°ë¼ì„œ logë¥¼ ì·¨í•´ ì •ê·œ ë¶„í¬ í˜•íƒœê°€ ë˜ë„ë¡ í•œë‹¤.

In [18]:
y_log_transform = np.log1p(y_target)
y_log_transform.hist()

In [19]:
# íƒ€ê¹ƒ ì¹¼ëŸ¼ì¸ count ê°’ì„ log1pë¡œ ë¡œê·¸ ë³€í™˜
y_target_log = np.log1p(y_target)

# ë¡œê·¸ ë³€í™˜ëœ y_target_logë¥¼ ë°˜ì˜í•˜ì—¬ í•™ìŠµ/í…ŒìŠ¤íŠ¸ ë°ì´í„° ì…‹ ë¶„í• 
X_train, X_test, y_train, y_test = train_test_split(X_features, y_target_log, test_size=0.3, random_state=0)
lr_reg = LinearRegression()
lr_reg.fit(X_train, y_train)
pred = lr_reg.predict(X_test)

# í…ŒìŠ¤íŠ¸ ë°ì´í„° ì…‹ì˜ Target ê°’ì€ Log ë³€í™˜ë˜ì—ˆìœ¼ë¯€ë¡œ ë‹¤ì‹œ expm1ë¥¼ ì´ìš©í•˜ì—¬ ì›ë˜ scaleë¡œ ë³€í™˜
y_test_exp = np.expm1(y_test)

# ì˜ˆì¸¡ ê°’ ì—­ì‹œ Log ë³€í™˜ëœ íƒ€ê¹ƒ ê¸°ë°˜ìœ¼ë¡œ í•™ìŠµë˜ì–´ ì˜ˆì¸¡ë˜ì—ˆìœ¼ë¯€ë¡œ ë‹¤ì‹œ exmplìœ¼ë¡œ scaleë³€í™˜
pred_exp = np.expm1(pred)

evaluate_regr(y_test_exp ,pred_exp)

RMSLE: 1.017, RMSE: 162.594, MAE: 109.286

In [20]:
coef = pd.Series(lr_reg.coef_, index=X_features.columns)
coef_sort = coef.sort_values(ascending=False)
sns.barplot(x=coef_sort.values, y=coef_sort.index)
plt.savefig('log_transform.tif', format='tif', dpi=300, bbox_inches='tight')

weatherì˜ ì˜í–¥ì„ ë§ì´ ë°›ì„ ê±°ë¼ê³  ì˜ˆìƒí–ˆë˜ ê²°ê³¼ì™€ ë‹¬ë¦¬,  
yearê°€ countì— ê°€ì¥ í° ì˜í–¥ì„ ì£¼ëŠ” í”¼ì²˜ì˜€ë‹¤.  
ë”°ë¼ì„œ yearë¥¼ ìˆ«ìì˜ í¬ê¸°ê°€ ì•„ë‹Œ êµ¬ë¶„ìœ¼ë¡œ ì´í•´í•˜ê¸° ìœ„í•´ ì›í•« ì¸ì½”ë”©ì„ í•´ì¤€ë‹¤.

In [21]:
# 'year', month', 'day', hour'ë“±ì˜ í”¼ì²˜ë“¤ì„ One Hot Encoding

# ì—†ëŠ” dayê¹Œì§€ encoding
X_features['day'] = pd.Categorical(X_features['day'], categories=range(1, 31))


X_features_ohe = pd.get_dummies(X_features, columns=['year', 'month','day', 'hour', 'holiday',
                                              'workingday','season','weather'])

In [22]:
X_features_ohe

,temp,atemp,humidity,windspeed,year_2011,year_2012,month_1,month_2,month_3,month_4,...,workingday_0,workingday_1,season_1,season_2,season_3,season_4,weather_1,weather_2,weather_3,weather_4
0,9.84,14.395,81,0.0000,True,False,True,False,False,False,...,True,False,True,False,False,False,True,False,False,False
1,9.02,13.635,80,0.0000,True,False,True,False,False,False,...,True,False,True,False,False,False,True,False,False,False
2,9.02,13.635,80,0.0000,True,False,True,False,False,False,...,True,False,True,False,False,False,True,False,False,False
3,9.84,14.395,75,0.0000,True,False,True,False,False,False,...,True,False,True,False,False,False,True,False,False,False
4,9.84,14.395,75,0.0000,True,False,True,False,False,False,...,True,False,True,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,15.58,19.695,50,26.0027,False,True,False,False,False,False,...,False,True,False,False,False,True,True,False,False,False
10882,14.76,17.425,57,15.0013,False,True,False,False,False,False,...,False,True,False,False,False,True,True,False,False,False
10883,13.94,15.910,61,15.0013,False,True,False,False,False,False,...,False,True,False,False,False,True,True,False,False,False
10884,13.94,17.425,61,6.0032,False,True,False,False,False,False,...,False,True,False,False,False,True,True,False,False,False
10885,13.12,16.665,66,8.9981,False,True,False,False,False,False,...,False,True,False,False,False,True,True,False,False,False

In [23]:
# ì›-í•« ì¸ì½”ë”©ì´ ì ìš©ëœ feature ë°ì´í„° ì„¸íŠ¸ ê¸°ë°˜ìœ¼ë¡œ í•™ìŠµ/ì˜ˆì¸¡ ë°ì´í„° ë¶„í• .
X_train, X_test, y_train, y_test = train_test_split(X_features_ohe, y_target_log,
                                                    test_size=0.3, random_state=0)

# ëª¨ë¸ê³¼ í•™ìŠµ/í…ŒìŠ¤íŠ¸ ë°ì´í„° ì…‹ì„ ì…ë ¥í•˜ë©´ ì„±ëŠ¥ í‰ê°€ ìˆ˜ì¹˜ë¥¼ ë°˜í™˜
def get_model_predict(model, X_train, X_test, y_train, y_test, is_expm1=False):
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    if is_expm1 :
        y_test = np.expm1(y_test)
        pred = np.expm1(pred)
    print('###',model.__class__.__name__,'###')
    evaluate_regr(y_test, pred)
# end of function get_model_predict

# model ë³„ë¡œ í‰ê°€ ìˆ˜í–‰
lr_reg = LinearRegression()
ridge_reg = Ridge(alpha=10)
lasso_reg = Lasso(alpha=0.01)

for model in [lr_reg, ridge_reg, lasso_reg]:
    get_model_predict(model,X_train, X_test, y_train, y_test,is_expm1=True)

### LinearRegression ###
RMSLE: 0.590, RMSE: 97.688, MAE: 63.382
### Ridge ###
RMSLE: 0.590, RMSE: 98.529, MAE: 63.893
### Lasso ###
RMSLE: 0.635, RMSE: 113.219, MAE: 72.803

In [24]:
coef = pd.Series(lr_reg.coef_ , index=X_features_ohe.columns)
coef_sort = coef.sort_values(ascending=False)[:20]
sns.barplot(x=coef_sort.values , y=coef_sort.index)

In [25]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

# ëœë¤ í¬ë ˆìŠ¤íŠ¸, GBM, XGBoost, LightGBM model ë³„ë¡œ í‰ê°€ ìˆ˜í–‰
rf_reg = RandomForestRegressor(n_estimators=500)
gbm_reg = GradientBoostingRegressor(n_estimators=500)
xgb_reg = XGBRegressor(n_estimators=500)
lgbm_reg = LGBMRegressor(n_estimators=500)

for model in [rf_reg, gbm_reg, xgb_reg, lgbm_reg]:
    # XGBoostì˜ ê²½ìš° DataFrameì´ ì…ë ¥ ë  ê²½ìš° ë²„ì „ì— ë”°ë¼ ì˜¤ë¥˜ ë°œìƒ ê°€ëŠ¥. ndarrayë¡œ ë³€í™˜.
    get_model_predict(model,X_train.values, X_test.values, y_train.values, y_test.values,is_expm1=True)

### RandomForestRegressor ###
RMSLE: 0.355, RMSE: 50.342, MAE: 31.180
### GradientBoostingRegressor ###
RMSLE: 0.330, RMSE: 53.336, MAE: 32.747
### XGBRegressor ###
RMSLE: 0.339, RMSE: 51.475, MAE: 31.357
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000582 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 348
[LightGBM] [Info] Number of data points in the train set: 7620, number of used features: 72
[LightGBM] [Info] Start training from score 4.582043
### LGBMRegressor ###
RMSLE: 0.319, RMSE: 47.215, MAE: 29.029

C:\Users\juwonhee\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LGBMRegressor was fitted with feature names
  warnings.warn(

# í•˜ì´í¼ íŒŒë¼ë¯¸í„° íŠœë‹ ë°©ë²• ê°€ì´ë“œ

ìš°ì„  ë¬´ìŠ¨ íŒŒë¼ë¯¸í„°ê°€ ìˆëŠ”ì§€ ì•Œì•„ë³´ì
ê²€ìƒ‰ì„ í•´ë´…ì‹œë‹¤
ê³µì‹ë¬¸ì„œë‚˜, ì •ë¦¬ëœ ë¸”ë¡œê·¸ë¥¼ ì°¾ì•„ë´…ì‹œë‹¤

ì•„ë˜ëŠ” ê·¸ëƒ¥ êµ¬ê¸€ì— lgbm í•˜ì´í¼ íŒŒë¼ë¯¸í„°ë¥¼ ê²€ìƒ‰í•´ë´¤ì„ë•Œ ë‚˜ì˜¨ ë¸”ë¡œê·¸ í•˜ë‚˜ë¥¼ ì˜ˆì‹œë¡œ ë„£ì–´ë‘ì—ˆìŠµë‹ˆë‹¤

https://zzinnam.tistory.com/entry/lightgbm-%EC%A3%BC%EC%9A%94-%ED%95%98%EC%9D%B4%ED%8D%BC%ED%8C%8C%EB%9D%BC%EB%AF%B8%ED%84%B0-with-%ED%8C%8C%EC%9D%B4%EC%8D%AC

## RandomizedSearchCVë¥¼ ì´ìš©í•´ì„œ ìµœì ì˜ í•˜ì´í¼ íŒŒë¼ë¯¸í„° ì°¾ê¸°

In [26]:
from sklearn.metrics import mean_squared_log_error, make_scorer
from sklearn.model_selection import RandomizedSearchCV

# ê° ëª¨ë¸ì— ëŒ€í•œ íŒŒë¼ë¯¸í„° ê·¸ë¦¬ë“œ
param_grids = {
        'n_estimators': [500],
        'learning_rate': [0.05, 0.1, 0.2],
        'max_depth': [2, 4, 8, 16],
        'num_leaves': [31, 50, 70]
    }

model = LGBMRegressor()


rmsle_scorer = make_scorer(rmsle, greater_is_better=False)

search = RandomizedSearchCV(
        estimator=model,
        param_distributions=param_grids,
        n_iter=10,
        scoring=rmsle_scorer,
        cv=3,
        verbose=1,
        random_state=42,
        n_jobs=-1
    )
search.fit(X_train.values, y_train.values)
best_model = search.best_estimator_

print("Best Parameters:", search.best_params_)
get_model_predict(best_model, X_train.values, X_test.values, y_train.values, y_test.values, is_expm1=True)

Fitting 3 folds for each of 10 candidates, totalling 30 fits
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000332 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 348
[LightGBM] [Info] Number of data points in the train set: 7620, number of used features: 72
[LightGBM] [Info] Start training from score 4.582043
Best Parameters: {'num_leaves': 31, 'n_estimators': 500, 'max_depth': 16, 'learning_rate': 0.1}
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000520 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 348
[LightGBM] [Info] Number of data points in the train set: 7620, number of used features: 72
[LightGBM] [Info] Start training from score 4.582043
### LGBMRegressor ###
RMSLE: 0.315, RMSE: 46.495, MAE: 28.726

C:\Users\juwonhee\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LGBMRegressor was fitted with feature names
  warnings.warn(

### í‰ê°€ ê²°ê³¼
### LGBMRegressor ###
Best Parameters: {'num_leaves': 31, 'n_estimators': 500, 'max_depth': 16, 'learning_rate': 0.1}

RMSLE: 0.315, RMSE: 46.495, MAE: 28.726

ë””í´íŠ¸ ê°’ë³´ë‹¤ëŠ” ì¡°ê¸ˆë” ì¢‹ì•„ì¡Œë‹¤

## ì˜ì‚¬ê²°ì •ë‚˜ë¬´

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

y_target = bike_df['count']
X_features = bike_df.drop(['count'],axis=1,inplace=False)

X_train, X_test, y_train, y_test = train_test_split(X_features, y_target, test_size=0.3, random_state=0)

dt_clf = DecisionTreeRegressor(random_state=0)
dt_clf.fit(X_train, y_train)
pred = dt_clf.predict(X_test)

evaluate_regr(y_test ,pred)

RMSLE: 0.475, RMSE: 65.244, MAE: 39.729

## ì˜ì‚¬ê²°ì •ë‚˜ë¬´ + í•˜ì´í¼íŒŒë¼ë¯¸í„°

### grid_searchë¡œ ìµœì ì˜ í•˜ì´í¼ íŒŒë¼ë¯¸í„° ì°¾ê¸°

In [28]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV

params = {
    'max_depth': [3, 5, 10, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 3, 5],
}

dt_reg = DecisionTreeRegressor(random_state=0)

grid_search = GridSearchCV(
    estimator=dt_reg,
    param_grid=params,
    cv=5,
    verbose=1,
    n_jobs=-1
)

grid_search.fit(X_train, y_train)

print("Best parameters:", grid_search.best_params_)

Fitting 5 folds for each of 36 candidates, totalling 180 fits
Best parameters: {'max_depth': None, 'min_samples_leaf': 5, 'min_samples_split': 2}

### í•˜ì´í¼ íŒŒë¼ë¯¸í„° íŠœë‹

In [29]:
# í•˜ì´í¼íŒŒë¼ë¯¸í„° íŠœë‹
dt_reg = DecisionTreeRegressor(
    max_depth = None,
    min_samples_split = 5,
    min_samples_leaf = 2,
)
dt_reg.fit(X_train, y_train)
pred = dt_reg.predict(X_test)
evaluate_regr(y_test ,pred)

RMSLE: 0.453, RMSE: 63.295, MAE: 38.156

## ì—˜ë¼ìŠ¤í‹±ë„·

In [30]:
# ì—˜ë¼ìŠ¤í‹±ë„· íšŒê·€
from sklearn.linear_model import ElasticNet

elasticNet = ElasticNet()
elasticNet.fit(X_train, y_train)
pred = elasticNet.predict(X_test)
evaluate_regr(y_test ,pred)

RMSLE: 1.179, RMSE: 143.873, MAE: 106.506

In [31]:
# ì—˜ë¼ìŠ¤í‹±ë„· íšŒê·€
from sklearn.linear_model import ElasticNet
model = ElasticNet(alpha=0.09, l1_ratio=0.1) # default l1_ratio 0.5
model.fit(X_train, y_train)
pred = model.predict(X_test)
evaluate_regr(y_test ,pred)

RMSLE: 1.167, RMSE: 141.379, MAE: 105.543

l1_ratio ë¹„ìœ¨ì´ ì‘ì„ìˆ˜ë¡ MAE ê°’ì´ ì‘ì•„ì§€ë¯€ë¡œ L2ê·œì œë¥¼ ì‚¬ìš©í•˜ëŠ” ë¦¿ì§€ íšŒê·€ê°€ ë” ì¢‹ì„ ê²ƒìœ¼ë¡œ ì˜ˆìƒí•œë‹¤.  
ElasticNet: MAE 105.54  
Ridge: MAE 63.893  
Lasso: MAE 72.803  
ì¶œë ¥ ê²°ê³¼ë¥¼ í™•ì¸í•´ ë³´ë©´, ì˜ˆìƒëŒ€ë¡œ 3ê°œì˜ ëª¨ë¸ ì¤‘ ë¦¿ì§€ íšŒê·€ê°€ ê°€ì¥ ì„±ëŠ¥ì´ ì¢‹ë‹¤.

In [32]:
## test_dataë¥¼ ë°›ì•„ì˜¤ê¸°
test = pd.read_csv('./bike-sharing-demand/test.csv')

# trainê³¼ ê°™ì€ ì „ì²˜ë¦¬ë¥¼ ì§„í–‰í•´ë³´ì

ì´ê²ƒì„ í•˜ë‹¤ë³´ë©´ ì—„ì²­ë‚œ ë¬¸ì œì— ì§ë©´ì„ í•˜ê²Œë˜ëŠ”ë°  
ê·¸ê²ƒì€ ë°”ë¡œ train dataëŠ” dayê°€ 1-19ì¼ê¹Œì§€   
ê·¸ë¦¬ê³  test dataëŠ” dayê°€ 20-31ì¼ê¹Œì§€ë¼ì„œ  
ì¼ë°˜ onehot encodingì„ í•˜ë©´ ì—´ê°œìˆ˜ê°€ ë‹¬ë¼ì§„ë‹¤ëŠ” ì‚¬ì‹¤ì´ë‹¤...

ì¼ë‹¨ ì¹´í…Œê³ ë¦¬ ë²”ìœ„ë¥¼ ì§€ì •í•´ì£¼ê³  ë”ë¯¸ë¥¼ ë§Œë“¤ì–´ì£¼ì! ìœ„ì— trainë„ ë°”ê¿”ì£¼ëŠ”ê±¸ ìŠì§€ë§ì

In [33]:
# trainê³¼ ê°™ì€ ì „ì²˜ë¦¬
test['datetime'] = test.datetime.apply(pd.to_datetime)

# datetime íƒ€ì…ì—ì„œ ë…„, ì›”, ì¼, ì‹œê°„ ì¶”ì¶œ
test['year'] = test.datetime.apply(lambda x : x.year)
test['month'] = test.datetime.apply(lambda x : x.month)
test['day'] = test.datetime.apply(lambda x : x.day)
test['hour'] = test.datetime.apply(lambda x: x.hour)
test.head(3)

# ì´ë¯¸ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ì—ëŠ” casual, registered ê°€ ë¹ ì ¸ìˆìŒ
drop_columns = ['datetime']
test.drop(drop_columns, axis=1,inplace=True)

# 'year', month', 'day', hour'ë“±ì˜ í”¼ì²˜ë“¤ì„ One Hot Encoding
test['day'] = pd.Categorical(test['day'], categories=range(1, 31))
test_ohe = pd.get_dummies(test, columns=['year', 'month','day', 'hour', 'holiday',
                                              'workingday','season','weather'])

In [34]:
## sample_dataë¥¼ ë°›ì•„ì˜¤ê¸°
sample = pd.read_csv('./bike-sharing-demand/sampleSubmission.csv')

# countê°€ 0ìœ¼ë¡œ ì°¨ìˆëŠ” sample
sample

                 datetime  count
0     2011-01-20 00:00:00      0
1     2011-01-20 01:00:00      0
2     2011-01-20 02:00:00      0
3     2011-01-20 03:00:00      0
4     2011-01-20 04:00:00      0
...                   ...    ...
6488  2012-12-31 19:00:00      0
6489  2012-12-31 20:00:00      0
6490  2012-12-31 21:00:00      0
6491  2012-12-31 22:00:00      0
6492  2012-12-31 23:00:00      0

[6493 rows x 2 columns]

In [35]:

# í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ì„ ì˜ˆì¸¡
pred = best_model.predict(test_ohe)
# í•™ìŠµì‹œ ë¡œê·¸ë³€í™˜í•œ targetì„ ì»ìœ¼ë‹ˆ ê²°ê³¼ê°’ì„ ë‹¤ì‹œ ë³µì›í•´ì•¼í•©ë‹ˆë‹¤
pred_exp = np.expm1(pred)

# sample íŒŒì¼ì— ì˜ˆì¸¡ ê°’ì„ ë„£ì–´ì£¼ê³ 
sample["count"] = pred_exp

# csvë¡œ ì €ì¥í•˜ê¸°
sample.to_csv("./bike-sharing-demand/submission.csv", index=False)

In [36]:
sample

                 datetime       count
0     2011-01-20 00:00:00   10.976623
1     2011-01-20 01:00:00    4.077675
2     2011-01-20 02:00:00    2.431671
3     2011-01-20 03:00:00    2.986596
4     2011-01-20 04:00:00    1.544623
...                   ...         ...
6488  2012-12-31 19:00:00  247.156714
6489  2012-12-31 20:00:00  167.401570
6490  2012-12-31 21:00:00  120.760211
6491  2012-12-31 22:00:00   95.814716
6492  2012-12-31 23:00:00   51.595272

[6493 rows x 2 columns]